/*
#question .tag-input {
    padding: 10px;
    border: 1px solid #f0f0f0;
    line-height: 18px;
    background-color: #fff;
    border-radius: 20px;
    font-size: 13px;
    margin: 0px 8px 8px 0px;
    font-weight: bold;
    background-color: whitesmoke;
			}
.quiText p {
	margin: 0px
}*/
